@import url("../fonts/roboto/stylesheet.css");
body {
  margin: 2.1em  1em 1em 1em;
  font-family: SF, Pro, Display, Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
  font-family: SF, Pro, Display, Arial, Helvetica, sans-serif;
}

.header__a {
  display: flex;
  padding-top: 2.5em;
  align-items: flex-end;
}

.header__a .header__img {
  height: 1.4em;
  width: 1.2em;
  padding-right: 5.2em;
}

.header__a .header__p_directions-top-level {
  margin-bottom: 0;
  color: black;
  font-size: 0.875em;
  padding-bottom: 0;
}

.phone-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  white-space: nowrap;
}

.phone-list .phone-list__b {
  font-family: SF, Pro, Display, Arial, Helvetica, sans-serif;
  padding-top: 1.9em;
  padding-bottom: 1.1em;
  font-size: 1.5em;
}

.phone-list .phone-list__item-list {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  scroll-behavior: smooth;
  height: 5.1875em;
}

.phone-list .phone-list__item-list .phone-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #59A4F2;
  height: 5.1875em;
  width: 14.5em;
  border-radius: 0.90625em;
  margin-right: 1.25em;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.phone-list .phone-list__item-list .phone-list__item .phone-list__wrap-text {
  word-break: break-all;
  text-align: start;
  padding-left: 1em;
}

.phone-list .phone-list__item-list .phone-list__item .phone-list__wrap-text .phone-list__a .phone-list__p {
  color: white;
  font-size: 1em;
  word-break: break-all;
}

.phone-list .phone-list__item-list .phone-list__add-item {
  height: 5.17em;
  width: 5.15em;
  border: 1px dashed #F1564A;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  padding: 2.062em;
  margin-right: 1.25em;
}
