@import url("../fonts/roboto/stylesheet.css");
.action {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.action .action__button {
  background: #59A4F2;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 2.6em;
  border: none;
  margin-bottom: 40px;
  text-align: center;
}

.action .red {
  background-color: #F1564A;
}

.list-img_small {
  margin-bottom: 2em;
  margin-top: 1.2em;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.list-img_small .list-img__item_small {
  width: 121px;
  margin-right: 0.75em;
  border-radius: 10px;
}

.header__a {
  display: flex;
  padding-top: 40px;
  align-items: flex-end;
}

.header__a .header__img {
  height: 2em;
  width: 1.5em;
  padding-top: 0.5em;
}

.header__a .header__p_directions-top-level {
  width: 295px;
  color: black;
  font-size: 14px;
  padding-bottom: 0.5em;
  text-align: center;
  letter-spacing: 0.5px;
  word-spacing: -2px;
}

body {
  margin: 2.1em 1em 1em 1em;
  font-family: SF, Pro, Display, Aria0l, Helvetica, sans-serif;
  background-color: #F9F9F9;
  letter-spacing: -0.03em;
}

.link {
  text-decoration: none;
}

p, h2 {
  margin: 0;
}

.card {
  display: flex;
  margin-top: 2.5em;
  flex-direction: column;
}

.card .card__h2 {
  padding-bottom: 0.5em;
}

.card .card__img_big {
  margin-top: 1.4em;
  margin-bottom: 2.1em;
  border-radius: 10px;
}

.card .card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-bottom: 0.5em;
}

.card .card__description {
  margin-top: 40px;
}

.card .card-wrap {
  display: flex;
  justify-content: start;
  padding-left: 0.75em;
  margin-bottom: 0.5em;
}

.card .card-wrap .card__time {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 22px;
  margin-right: 1.55em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.card .card-wrap .card__graph {
  margin-top: 1em;
  background-color: #999999;
  width: 20px;
  margin-right: 1.55em;
}

.card .card-wrap .card__graph .icon {
  width: 1.25em;
  height: 1.25em;
  background: red;
  border-radius: 50%;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
}

.card .card-wrap .card__graph-title {
  display: flex;
  flex-direction: column;
}

.card .card-wrap .card__graph-title .card-graph__p {
  margin-top: 1.6em;
}

.card .card-wrap .card__graph-title .p {
  margin-top: 1em;
}
