@import url("../fonts/roboto/stylesheet.css");
.header__a {
  display: flex;
  padding-top: 40px;
  align-items: flex-end;
}

.header__a .header__img {
  height: 2em;
  width: 1.5em;
  padding-top: 0.5em;
}

.header__a .header__p_directions-top-level {
  width: 295px;
  color: black;
  font-size: 14px;
  padding-bottom: 0.5em;
  text-align: center;
  letter-spacing: 0.5px;
  word-spacing: -2px;
}

p, h2 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 2.1em 1em 1em 1em;
  font-family: SF, Pro, Display, Aria0l, Helvetica, sans-serif;
  background-color: #F9F9F9;
  letter-spacing: -0.03em;
}

.link {
  text-decoration: none;
}

.search {
  height: 44px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  margin-top: 2em;
  margin-bottom: 2em;
}

.search .search__input {
  margin-left: 5px;
  width: 285px;
  border: none;
  background-color: #F9F9F9;
}

.search .search__img {
  padding: 13.67px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list .list__item {
  height: 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 0.9em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #C4C4C4;
}

.list .list__item .list__item-text {
  display: flex;
  flex-direction: column;
}

.list .list__item .list__item-text .list__h2 {
  margin-bottom: 34px;
  letter-spacing: -0.03em;
  word-spacing: -0.03em;
}

.list .list__item .list__item-text .list__a-group .list__a {
  padding: 10px;
  background-color: #F1564A;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 10px;
  margin-right: 15px;
}

.list .list__item .list__a-more {
  display: flex;
  align-items: start;
  padding-top: 30px;
}
